Repository impurity-online/twitch-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
    "*.{js,json,md}": ["prettier --write", "git add"],
    "*.ts": ["npm run lint:fix", "git add"]
}

reorg lintstaged
  .lintstagedrc.json
Due: prettier --write

added circle ci
  .circleci/config.yml
  src/client/twitch-client.ts
Due: npm run lint:fix

fixed lint staged warning about git add
  .lintstagedrc.json
Due: prettier --write

Develop (#1)
  .circleci/config.yml
  .editorconfig
  .eslintrc.json
  .github/workflows/nodejs.yml
  .lintstagedrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/client/i-rest-client.ts
  src/client/rest-client.ts
  src/client/twitch-client.ts
  src/clients/rest-client.ts
  src/clients/twitch-client.ts
  src/config/container-config.ts
  src/config/container-types-config.ts
  src/config/twitch-client-config.ts
  src/controller/i-user-controller.ts
  src/controller/user-controller.ts
  src/controllers/user-controller.ts
  src/model/twitch-user-response.ts
  src/model/user.ts
  src/route/user-routes.ts
  src/server.ts
  src/service/i-user-service.ts
  src/service/user-service.ts
  src/services/user-service-interface.ts
  src/services/user-service.ts
  src/util/environment.ts
  tsconfig.json
Due: prettier --write, npm run lint:fix

update circleci config:
  .circleci/config.yml
Due: none

fixed lintstaged
  .lintstagedrc.json
Due: prettier --write

made response a better function for controllers
  src/controller/controller.ts
  src/controller/i-user-controller.ts
  src/controller/user-controller.ts
  src/route/user-routes.ts
Due: npm run lint:fix

update packages
  package-lock.json
  package.json
Due: prettier --write
