Repository impurity-online/twitch-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

Fixed eslint
  .eslintrc.json
Due: prettier --write

Update flow and config
  .github/workflows/nodejs.yml
  test/index.test.ts
  tsconfig.json
Due: prettier --write, npm run lint:fix

configure basic jest setup and eslint for jest
  .eslintrc.json
  .lintstagedrc.json
  jest.config.js
  package-lock.json
  package.json
  test/index.spec.ts
  test/index.test.ts
  tsconfig.json
Due: prettier --write, npm run lint:fix

added better scripts
  package.json
Due: prettier --write

updated config
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write

Updated with describe and migrate to jest json
  jest.config.js
  jest.json
  test/index.spec.ts
Due: prettier --write, npm run lint:fix

Fixed tsconfig for jest
  package-lock.json
  tsconfig.json
Due: prettier --write

added ssl script for generating local ssl
  .gitignore
  package.json
  ssl.sh
  ssl/.gitkeep
Due: prettier --write

update environment configuration
  src/environment.ts
  src/index.ts
Due: npm run lint:fix

Change application from express to koa
  .env_SAMPLE
  package-lock.json
  package.json
  src/environment.ts
  src/index.ts
  src/server.ts
  ssl/.gitkeep
  tsconfig.json
Due: prettier --write, npm run lint:fix

Update tsconfig
  jest.config.js
  jest.json
  package-lock.json
  package.json
  tests/index.spec.ts
  tsconfig.json
Due: prettier --write, npm run lint:fix

Update struct
  .eslintrc.json
  jest.config.js
  package-lock.json
  test/index.test.ts
Due: prettier --write, npm run lint:fix

Fixed tsconfig
  jest.config.js
  package.json
  tsconfig.json
Due: prettier --write

New ts config build
  tsconfig.build.json
Due: prettier --write

Removed old ssl
  ssl.sh
Due: none

Update test conf
  CONTRIBUTING.md
  jest.config.js
Due: prettier --write

Add dotenv
  .env_SAMPLE
  src/server.ts
Due: npm run lint:fix

Update server stucture and added user boilerplate
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
  src/controllers/user-controller.ts
  src/routes/user-routes.ts
  src/server.ts
  tsconfig.json
Due: prettier --write, npm run lint:fix

fixed prompt from http to https
  src/server.ts
Due: npm run lint:fix

added logger
  package-lock.json
  package.json
  src/server.ts
Due: prettier --write, npm run lint:fix

Added favicon
  package-lock.json
  package.json
  public/favicon.ico
  src/server.ts
Due: prettier --write, npm run lint:fix

Fixed ico
  public/favicon.ico
Due: none

Updated controller structure
  src/controllers/user-controller.ts
  src/routes/user-routes.ts
  src/server.ts
Due: npm run lint:fix

Rename controller
  src/controllers/controller.ts
Due: npm run lint:fix

Added routes
  src/controllers/controller.ts
  src/controllers/user-controller.ts
  src/routes/user-routes.ts
  src/server.ts
  src/services/service.ts
  src/services/user-service.ts
Due: npm run lint:fix

Update config
  .eslintrc.json
  .gitignore
  src/controllers/user-controller.ts
  src/routes/user-routes.ts
Due: prettier --write, npm run lint:fix

Add eslint integrations settings for vscode
  .vscode/settings.json
Due: prettier --write

Update structure to have client, env, and twitch setup with client id
  .editorconfig
  .env_SAMPLE
  .vscode/settings.json
  src/clients/client.ts
  src/clients/twitch-client.ts
  src/routes/user-routes.ts
  src/server.ts
  src/utils/environment.ts
Due: prettier --write, npm run lint:fix

Added get user ability to the user service
  src/clients/client.ts
  src/clients/twitch-client.ts
  src/controllers/controller.ts
  src/controllers/user-controller.ts
  src/services/service.ts
  src/services/user-service.ts
Due: npm run lint:fix

Added models and interfaces
  src/clients/rest-client.ts
  src/models/user.ts
  src/services/user-service-interface.ts
Due: npm run lint:fix

renaming
  src/client/rest-client.ts
  src/client/twitch-client.ts
  src/controller/user-controller.ts
  src/model/user.ts
  src/route/user-routes.ts
  src/server.ts
  src/service/user-service-interface.ts
  src/service/user-service.ts
  src/util/environment.ts
Due: npm run lint:fix

Update client structure
  .eslintrc.json
  .vscode/settings.json
  src/client/i-rest-client.ts
  src/client/rest-client.ts
  src/client/twitch-client.ts
  src/model/twitch-user-response.ts
  src/service/i-user-service.ts
  src/service/user-service.ts
Due: prettier --write, npm run lint:fix

Working executions
  .vscode/settings.json
  src/client/rest-client.ts
  src/client/twitch-client.ts
  src/controller/i-user-controller.ts
  src/controller/user-controller.ts
  src/route/user-routes.ts
  src/server.ts
  src/service/i-user-service.ts
  src/service/user-service.ts
Due: prettier --write, npm run lint:fix

update workflow
  .github/workflows/nodejs.yml
Due: none

Update workflow
  .github/workflows/nodejs.yml
Due: none

Update steps
  .github/workflows/nodejs.yml
Due: none

update line endings
  .editorconfig
  package-lock.json
  package.json
Due: prettier --write

upgrade packages
  package-lock.json
  package.json
Due: prettier --write

fixed inversify config
  package-lock.json
  package.json
  src/client/rest-client.ts
  src/client/twitch-client.ts
  src/config/container-config.ts
  src/config/container-types-config.ts
  src/controller/user-controller.ts
  src/server.ts
  src/service/user-service.ts
  tsconfig.json
Due: prettier --write, npm run lint:fix

externalized twitch config
  src/config/twitch-client-config.ts
Due: npm run lint:fix

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run lint:fix: any of: *.ts
